<?xml version="1.0"?>
<config>
    <modules>
        <Maco_Openwire>
            <version>0.0.1</version>
        </Maco_Openwire>
    </modules>
    <global>
        <helpers>
            <openwire>
                <class>Maco_Openwire_Helper</class>
            </openwire>
        </helpers>
        <models>
            <openwire>
                <class>Maco_Openwire_Model</class>
                <resourceModel>openwire_resource</resourceModel>
            </openwire>
            <openwire_resource>
                <class>Maco_Openwire_Model_Resource</class>
            </openwire_resource>
            <core>
                <rewrite>
                    <layout>
                        <class>Maco_Openwire_Model_Layout</class>
                    </layout>
                </rewrite>
            </core>
        </models>
        <blocks>
            <openwire>
                <class>Maco_Openwire_Block</class>
            </openwire>
        </blocks>
        <!-- OpenWire Template Directive Registration -->
        <openwire>
            <template>
                <directives>
                    <click>
                        <class>Maco_Openwire_Model_Template_Directive_Click</class>
                        <pattern>@click</pattern>
                    </click>
                    <submit>
                        <class>Maco_Openwire_Model_Template_Directive_Submit</class>
                        <pattern>@submit</pattern>
                    </submit>
                    <input>
                        <class>Maco_Openwire_Model_Template_Directive_Input</class>
                        <pattern>@input</pattern>
                    </input>
                    <change>
                        <class>Maco_Openwire_Model_Template_Directive_Change</class>
                        <pattern>@change</pattern>
                    </change>
                    <drag>
                        <class>Maco_Openwire_Model_Template_Directive_Drag</class>
                        <pattern>@drag</pattern>
                    </drag>
                    <drop>
                        <class>Maco_Openwire_Model_Template_Directive_Drop</class>
                        <pattern>@drop</pattern>
                    </drop>
                    <sortable>
                        <class>Maco_Openwire_Model_Template_Directive_Sortable</class>
                        <pattern>@sortable</pattern>
                    </sortable>
                    <model>
                        <class>Maco_Openwire_Model_Template_Directive_Model</class>
                        <pattern>#model</pattern>
                    </model>
                    <loading>
                        <class>Maco_Openwire_Model_Template_Directive_Loading</class>
                        <pattern>#loading</pattern>
                    </loading>
                    <ignore>
                        <class>Maco_Openwire_Model_Template_Directive_Ignore</class>
                        <pattern>#ignore</pattern>
                    </ignore>
                </directives>
            </template>
        </openwire>
    </global>
    <frontend>
        <routers>
            <openwire>
                <use>standard</use>
                <args>
                    <module>Maco_Openwire</module>
                    <frontName>openwire</frontName>
                </args>
            </openwire>
        </routers>
        <layout>
            <updates>
                <openwire>
                    <file>openwire.xml</file>
                </openwire>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <openwire>
                    <file>openwire.xml</file>
                </openwire>
            </updates>
        </layout>
    </adminhtml>
</config>
