<?xml version="1.0"?>
<config>
    <modules>
        <Maco_Openwire>
            <version>0.0.1</version>
        </Maco_Openwire>
    </modules>
    <global>
        <helpers>
            <openwire>
                <class>Maco_Openwire_Helper</class>
            </openwire>
        </helpers>
        <models>
            <openwire>
                <class>Maco_Openwire_Model</class>
                <resourceModel>openwire_resource</resourceModel>
            </openwire>
            <openwire_resource>
                <class>Maco_Openwire_Model_Resource</class>
            </openwire_resource>
        </models>
        <blocks>
            <openwire>
                <class>Maco_Openwire_Block</class>
            </openwire>
        </blocks>
    </global>
    <frontend>
        <routers>
            <openwire>
                <use>standard</use>
                <args>
                    <module>Maco_Openwire</module>
                    <frontName>openwire</frontName>
                </args>
            </openwire>
        </routers>
        <layout>
            <updates>
                <openwire>
                    <file>openwire.xml</file>
                </openwire>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <openwire>
                    <file>openwire.xml</file>
                </openwire>
            </updates>
        </layout>
    </adminhtml>
</config>
